@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,700&family=Lora:ital,wght@1,500;1,600&family=Montserrat:wght@300;400&family=Playfair+Display:ital@0;1&family=Roboto:ital,wght@1,300;1,400&family=Yanone+Kaffeesatz:wght@300;400&display=swap');
h1{
    color: whitesmoke;
    font-size: 3rem;
    text-transform: capitalize;
    text-align: center;
    font-family: var(--kaff);
}
:root{
    --loto: 'Lato', sans-serif;
    --lora: 'Lora', serif;
    --mon: 'Montserrat', sans-serif;
     --play: 'Playfair Display', serif;
    --robo: 'Roboto', sans-serif;
    --kaff: 'Yanone Kaffeesatz', sans-serif;
}
body{
    background-color: black;
}
p{
    color: white;
    text-align: center;
    font-family: var(--robo);
}